<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
<link th:href="@{/css/sidebars.css}" rel="stylesheet" crossorigin="anonymous">
<link th:href="@{/css/navbar-top-fixed.css}" rel="stylesheet" crossorigin="anonymous">
<link th:href="@{/css/footers.css}" rel="stylesheet" crossorigin="anonymous">
<link th:href="@{/css/features.css}" rel="stylesheet" crossorigin="anonymous">
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/sidebars.js}" crossorigin="anonymous"></script>