
	<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<link href="/css/sidebars.css" rel="stylesheet" crossorigin="anonymous">
	<link href="/css/navbar-top-fixed.css" rel="stylesheet" crossorigin="anonymous">
	<link href="/css/footers.css" rel="stylesheet" crossorigin="anonymous">
	<link href="/css/features.css" rel="stylesheet" crossorigin="anonymous">
	<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/js/sidebars.js" crossorigin="anonymous"></script>
